/*!****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[1]!./ClientApp/_Core/core.css ***!
  \****************************************************************************************************/
/*@import '~@popperjs/core/dist/bootstrap-vue.css';*/

[v-cloak] {
    display: none;
}

    [v-cloak]::before {
        content: "Loading, Please wait.";
    }

.border-sides {
    border-right: 1px solid #4E5D6C !important;
    border-left: 1px solid #4E5D6C !important;
    border-bottom: 1px solid #4E5D6C !important;
}

/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[1]!./wwwroot/lib/offcanvas-navbar/offcanvas.css ***!
  \**********************************************************************************************************************/
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[9].use[0]!./ClientApp/_Core/Components/table-list.vue?vue&type=style&index=0&id=231df20e&scoped=true&lang=css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/

    /*.table-hover > tbody > tr:hover {
        background-color: papayawhip;
    }*/
.b-left[data-v-231df20e] {
        border-left: 3px solid orange;
}

