/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[1]!./ClientApp/System/main.css ***!
  \*****************************************************************************************************/
.main {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: opacity 1s;
}

.main-loaded {
    opacity: 1;
}

