@page "/consumer/announcements"
@attribute [Authorize]

@using BlazorApp.Client.Components.Toaster
@using BlazorApp.Shared.Announcements
@using BlazorApp.Shared.Notifications

@attribute [Authorize(Roles = "Consumer")]

@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>Announcements</PageTitle>

<div class="row">
    <div class="col">
        <h3>Announcements</h3>
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" @onclick="@(async ()=> await GetItems())">
            <i class="oi oi-reload"></i>
            Refresh
        </button>
    </div>
</div>

<div class="table-responsive pt-1">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>
                        <a href="/consumer/announcements/@item.AnnouncementId">
                            @item.Subject
                        </a>
                    </td>
                    <td>
                        @item.DateCreated.ToLocalTime()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Inject] private ToasterService? _toasterService { get; set; }
    private ToasterService toasterService => _toasterService!;

    List<ViewAnnouncementInfo> Items = new List<ViewAnnouncementInfo>();

    protected override async Task OnInitializedAsync()
    {
        await GetItems();
    }

    async Task GetItems()
    {
        var items = await Http.GetFromJsonAsync<List<ViewAnnouncementInfo>>("/api/announcement/");

        Items = items;
    }


}
