@using BlazorApp.Client.Pages
@using BlazorApp.Client.Components.Toaster

@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>

                <div class="top-row px-4">
                    <LoginDisplay />
                    <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
                <BlazorApp.Client.Components.Notification.Notification />
            </main>
        </Authorized>
        <NotAuthorized>
            @*Just render the body so that RedirectToLogin works*@
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>
