@using BlazorApp.Client.Pages
@using BlazorApp.Client.Components.Toaster

@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            
            <BlazorApp.Client.Components.Notification.Notification />
            <div class="sidebar">
                <NavMenu />
            </div>

            <main class="bg-white">                
                <div class="top-row px-4">
                    <LoginDisplay />
                </div>
                
                <article class="container p-2">
                    
                    @Body
                    
                </article>
                
            </main>
            <Toaster />
        </Authorized>
        <NotAuthorized>
            @*Just render the body so that RedirectToLogin works*@
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>
