@using System.Security.Claims

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Batelec Bills Payment</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (user.IsInRole("System"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/system" Match="NavLinkMatch.All">
                    <span class="fas fa-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/system/administrators" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Administrators
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/system/consumers" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Consumers
                </NavLink>
            </div>
        }

        @if (user.IsInRole("Administrator"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/administrator" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-dashboard me-2" aria-hidden="true"></i>Dashboard
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/administrator/billings" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-money-bill me-2" aria-hidden="true"></i>Billings
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/administrator/announcements" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-bullhorn me-2" aria-hidden="true"></i>Announcements
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/administrator/reservations" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-calendar-check me-2" aria-hidden="true"></i>Reservations
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/administrator/consumers" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-users me-2" aria-hidden="true"></i>Consumers
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/administrator/notifications" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-bell me-2" aria-hidden="true"></i>Notifications
                </NavLink>
            </div>

        }

        @if (user.IsInRole("Consumer"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/consumer" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/consumer/announcements" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Announcements
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/consumer/billings" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Billings
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/consumer/reservations" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Reservations
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/consumer/notifications" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Notifications
                </NavLink>
            </div>


        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/account" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> My Account
            </NavLink>
        </div>

        <div class="d-block d-sm-none nav-item px-3">
            <NavLink class="nav-link" href="/logout" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Log Out
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected async override Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"{user.Identity.Name} is authenticated.");
        }
    }
}
