@page "/administrator/notifications"
@attribute [Authorize]

@using BlazorApp.Client.Components.Toaster
@using BlazorApp.Shared.Notifications

@attribute [Authorize(Roles = "Administrator")]

@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>Notifications</PageTitle>

<div class="row">
    <div class="col">
        <h3>Notifications</h3>
    </div>
    <div class="col-auto">
        <a href="/administrator/notifications/add" class="btn btn-primary">
            <i class="oi oi-plus me-1"></i>Add
        </a>
    </div>
</div>

<div class="table-responsive pt-2">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Content</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>
                        @item.Subject
                    </td>
                    <td>
                        @item.Content
                    </td>
                    <td>
                        @item.DateSent.ToLocalTime()
                    </td>
                    <td>
                        <button @onclick="@(async ()=> await DeleteItem(item.NotificationId))" class="btn btn-sm btn-warning">
                            <i class="oi oi-trash"></i>
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Inject] private ToasterService? _toasterService { get; set; }
    private ToasterService toasterService => _toasterService!;

    List<ViewNotificationInfo> Items = new List<ViewNotificationInfo>();

    protected override async Task OnInitializedAsync()
    {
        await GetItems();
    }

    async Task GetItems()
    {
        var items = await Http.GetFromJsonAsync<List<ViewNotificationInfo>>("/api/notification/");

        Items = items;
    }

    async Task DeleteItem(string id)
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the notification?"))
            return;

        var result = await Http.DeleteAsync($"/api/notification/{id}/delete");

        if (!result.IsSuccessStatusCode)
        {
            var error = await result.Content.ReadAsStringAsync();

            toasterService.AddToast(Toast.NewToast("Unhandled Error", error, MessageColour.Danger, 10));
            return;
        }

        toasterService.AddToast(Toast.NewToast("Delete Notification", "Notification successfully deleted.", MessageColour.Warning, 10));

        await GetItems();
    }
}
