@page "/consumer/billings"
@using System.Net.Http.Headers
@using BlazorApp.Shared.Billing
@using BlazorApp.Shared.GCash
@using System.Text.Json

@inject HttpClient Http

<h3>My Bills</h3>


<table class="table border">
    <thead>
        <tr>
            <th>Bill</th>
            <th>Due Date</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Billings)
        {
            <tr>
                <td>
                    <a href="/consumers/billings/@item.BillingId">
                       Bill # @item.BillingNumber
                    </a>
                </td>
                <td>
                    @item.BillingDateDue
                </td>
                <td>
                    @item.BillingAmount.ToString("C")
                </td>
            </tr>
        }
    </tbody>
</table>
@code {

    List<Billing> Billings = new List<Billing>();

    protected override async Task OnInitializedAsync()
    {
        var foo = await Http.GetFromJsonAsync<List<Billing>>("/api/billing/my-billings");

        Billings = foo;
    }
}
