@page "/administrator/billings"
@using BlazorApp.Client.Components.Toaster

<PageTitle>Billings</PageTitle>

<h3>Billings</h3>


<a href="/administrator/billings/add" class="btn btn-primary">
    Add New
</a>

<div class="m-2 p-2">
    <button class="btn btn-primary" @onclick="AddToast" >Add a Toast</button>
</div>

@code {

    [Inject] private ToasterService? _toasterService {get; set;}    
    private ToasterService toasterService => _toasterService!;

    private void AddToast() => toasterService.AddToast(Toast.NewToast("Hello World", "Hello from Blazor", MessageColour.Info, 30));
}
