@page "/administrator/billings/{billingId}"
@using BlazorApp.Shared.Billing

@inject HttpClient Http

<h3>View</h3>

@if (ViewBillingInfo != null)
{
    <div>
        @ViewBillingInfo.Number
    </div>
}

@code {

    [Parameter]
    public string BillingId { get; set; }

    ViewBillingInfo ViewBillingInfo { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await GetBilling(BillingId);
    }

    async Task GetBilling(string billingId)
    {
        try
        {
            var result = await Http.GetFromJsonAsync<ViewBillingInfo>($"/api/billing/{billingId}");

            ViewBillingInfo = result;
        }
        catch (Exception ex)
        {

        }
    }
}
