@page "/consumer"
@using System.Net.Http.Headers
@using BlazorApp.Shared.Billing
@using BlazorApp.Shared.GCash
@using System.Text.Json

@inject HttpClient Http

<div>
    <h3>Last Reading</h3>
    <h3>Inquire Billing</h3>
    <h3>Annoucement</h3>
    <h3>Reservation</h3>
    <h3>Contact</h3>
</div>

@code {

    //List<Billing> Billings = new List<Billing>();

    protected override async Task OnInitializedAsync()
    {
        //var foo = await Http.GetFromJsonAsync<List<Billing>>("/api/billing/my-billings");

        //Billings = foo;
    }
}
