@page
@using Data.Constants
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var isSystem = User.IsInRole(ApplicationRoles.System.Name);
    var isAdmin = User.IsInRole(ApplicationRoles.Administrator.Name);
    var isConsumer = User.IsInRole(ApplicationRoles.Consumer.Name);


}


<div class="row mt-5 pt-sm-5">
    <div class="col-sm-7">
        <div class="card card-body">
            <h1 class="display-4">Batelec Electric Reader</h1>
        </div>
    </div>
    <div class="col-sm">
        <div class="list-group list-group-flush">

            @if (User.Identity.IsAuthenticated)
            {
                <a href="/account/logout" class="list-group-item list-group-item-action">Logout</a>

                @if (isSystem)
                {
                    <a href="/system" class="list-group-item list-group-item-action">System</a>
                }
                @if (isAdmin)
                {
                    <a href="/administrator" class="list-group-item list-group-item-action">Administrator</a>
                }
                @if (isConsumer)
                {
                    <a href="/consumer" class="list-group-item list-group-item-action">Consumer</a>
                }
            }
            else
            {
                <a href="/account/login" class="list-group-item list-group-item-action">Login</a>

                <a href="/account/register" class="list-group-item list-group-item-action">Register</a>
                <a href="/account/forgotpassword" class="list-group-item list-group-item-action">Forgot Password?</a>
            }
        </div>
    </div>
</div>
