@page
@model WebRazor.Pages.Account.AccessDeniedModel
@{
    Layout = null;
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>
<div>You have no permission to view the requested page.</div>
<br />
<a href="/">Go back</a>
