@page
@model WebRazor.Pages.Account.ForgotPasswordConfirmationModel
@{

}

<div class="card shadow">
    <div class="card-header">
        <h5>Forgot Password Confirmation</h5>
    </div>
    <div class="card-body">
        Please check your phone for message on how to reset your password.
        <br />
        Click <a href="~/">here</a> to go to Home Page
    </div>
</div>
