@page
@model WebRazor.Pages.Account.ForgotPasswordModel
@{
    //Layout = "_LoginLayout";
    ViewData["Title"] = "Forgot your password?";
}



    <div class="mt-5">
        <div class="card shadow">
            <div class="card-header">
                <h5>Forgot your Password?</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-1">Submit</button>
                </form>

                <div class="form-group mt-2">
                    <p>
                        <a asp-page="./Login">Login</a>
                    </p>
                    <p>
                        <a asp-page="./Register">Register as a new user</a>
                    </p>
                    <p>
                        <a asp-area="" asp-page="/Index">Go to Home</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}